<div class="login-section">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="email" placeholder="Email" formControlName='email' autocomplete="nope" />
        </div>
        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            formControlName='password'
            autocomplete="new-password"
          />
        </div>
        <a routerLink='sign-up' class="link">Register Here?</a>
      </div>
      <div class="action">
        <button type="submit">log in</button>
      </div>
    </form>
  </div>
</div>
